$atomwhite: #fff;
$babyblue: #7b99fa;
$neongreen: #51dacf;
$neonyellow: #e8ffb1;
$royalblue: #6173f4;
$darkerblue: #0278ae;

@import 'atoms';
@import 'molecules';
@import 'organisms';
@import 'ecosystems';
@import 'environments';
